body{
    background-color: #F2F4F7;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

main{
    height: 600px;
    width: 100%;
}
#wrapper{
    margin-top: 130px;
    height: 380px;
    width: 100%;
}

#main-content{
    display: flex;
    height: 100%;
    width: 66%;
    margin: auto;
}

#banner{
    text-align: left;
    width: 60%;
    height: 100%;
}

#banner img{
    height: 100px;
    margin-top: 55px;
    margin-left: -25px;
    margin-bottom: -10px;
}

#banner h2{
    margin-top: 0px;
    width: 100%;
    font-weight: lighter;
    font-size: 29px;
}

#contentleft{
    width: 40%;
    height: 100%;
    
}

#login-box{
    width: 95%;
    height: 85%;
    border-radius: 10px;
    padding: 18px;
    background-color: white;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
}

#typein-login{
    width: 100%;
    height: 55%;
    margin: auto;
}

.input-place{
    width: 100%;
    height: 33%;
}



.input-place input{
    width: 97%;
    height: 65%;
    border-radius: 10px;
    margin-top: 0px;
    font-size: large;
    padding: 5px;
    border: 1px solid #cbcdcf;
}

.input-place input:focus{
	outline : none;
	border-color: #0866FF;
}

.input-place button{
    width: 100%;
    height: 72%;
    border-radius: 10px;
    margin-top: 0px;
    font-size: large;
    padding: 5px;
    border: 1px solid #cbcdcf;
    background-color: #0866FF;
    color: white;
    font-weight: bold;
}

#forgot-pw-button{
    width: 100%;
    height: 10%;
    text-align: center;
}

#forgot-pw-button a{
    text-decoration: none;
    font-size: 14px;
    color: #4686ec;
}

#new-acc{
    position: relative;
    width: 100%;
    height: 35%;
    text-align: center;
    justify-content: center;
}
#new-acc button{
    position: absolute;
    top: 50%;
    left: 50%;	
    transform: translate(-50%, -50%);
    width: 68%;
    height: 45%;
    background-color: #42B72A;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
}

#beside-info{
    text-align: center;
}

footer{
    height: 400px;
    width: 100%;
    background-color:white;
}

#main-content2{
    width: 65%;
    height: 100%;
    margin: auto;
}

.list-content{
    width: 100%;
    height: auto;
}

.list-content ul{
    list-style-type: none;
    overflow: hidden;
	display: flex;
	gap: 7px;
	padding: 0px;
}

.list-content li,a{
	font-size: 12px;
	color: #737373;
	text-decoration: none;
	align-items: center;
}



