body{
    background-color: #121212;
    color: aliceblue;
    font-family: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);

}

header{
    margin-top: 100px;
    height: 50px;
    width: 100%;
}

#main-logo{
    margin: auto;
    height: 32px;
    width: 32px;
}

#main-logo img{
    height: 100%;
}

main{

}

.main-content{
    height: 1000px;
    width: 340px;
    margin: auto;
}

.main-text{
    width: 100%;
    height: auto;
}

.main-text h1{
    font-weight:bolder;
    justify-content: center;
    text-align: center;
}

.main-login{
    width: 100%;
    height: 400px;
}

.main-login h4{
    margin-bottom: 10px;
}

.main-login form{
    background-color:;
}

.main-login input{
    background-color: #121212;
    color: white;
    font-size: larger;
    width: 98%;
    height: 50px;
    border:1px solid  rgb(107, 102, 102);
}

.button-login{
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid rgb(107, 102, 102);
}

.button-login-icon{
    height: 100%;
    width: 8%;

}

.button-login-text{
    width: 90%;
    height: auto;
    margin: auto;
}